body {
	padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Inconsolata', sans-serif;
  font-size: 33px;
}

#map {
  right: 0px;
  left: 0;
  height: 100%;
  position: absolute;
}

html, body, #map,
a, a:visited, a:hover {
  color: rgb(68, 68, 68);
}

#latlong {
  height: 38px;
  left: 50px;
  top: 10px;
  bottom: 0;
  padding: 8px;
  background-color: white;
  position: absolute;
}

.crosshair {
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 3;
  stroke-linecap: round;
}

.crosshair-outline {
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 6;
  stroke-linecap: round;
}

