* {
	padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

body, input {
  font-family: 'Inconsolata', sans-serif;
  font-size: 33px;
}

input:focus, *:focus {
  outline: 0;
}

#map {
  right: 0px;
  left: 0;
  height: 100%;
  position: absolute;
}

html, body, #map,
a, a:visited, a:hover {
  color: rgb(68, 68, 68);
}

#bar {
  height: 38px;
  left: 50px;
  top: 10px;
  bottom: 0;
  padding: 8px;
  background-color: white;
  position: absolute;
}

input {
  border: none;
}

label:after {
  content: ":";
}

.leaflet-middle {
  width: 64px;
  height: 64px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
  z-index: 1000;
}

.crosshair {
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 3;
  stroke-linecap: round;
}

.crosshair-outline {
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 6;
  stroke-linecap: round;
}

